@model ClassWork15042020_MVC_5_Model.Models.Prod

@{
    
    ViewBag.Title = "Name prod";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Model.Name
        @Model.ProdId
        @Model.Category
        @Model.Price
    </div>
</body>
</html>
