@model ClassWork15042020_MVC_5_Model.Models.Prod

@{
    ViewBag.Title = "NameAndPrice";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>NameAndPrice</h2>
Name prod - @Model.Name, it costs $@Model.Price

