@using CarStore.WebUI.Models
@using CarStore.WebUI.HtmlHelpers;
@model CarsListViewModel

@{
    ViewBag.Title = "Cars";
}

@foreach (var p in @Model.Cars)
{
   @Html.Partial("CarSummary", p)
}

    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
            new { page = x, category = Model.CurrentCategory }))
    </div>