
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css"/>
    <style>
        .bin a {
            color:white;
            text-decoration: none;
        }

        body{
            background-color:#f1f1f1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        @ViewBag.Greeting (with view)
        <h2>We're going to an exciting party</h2>
        <h3>And you are invites to only fill out the form</h3>
        <br />
        <div class="btn btn-success">
            @Html.ActionLink("Form RSVP", "RsvpForm")
        </div>
    </div>
    
</body>
</html>
