@model ClassWork13042020_MVC_5_ExamleParty.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css"/>
    <style>
        body{background:#f1f1f1;}
    </style>
</head>
<body>
    @{ 
        try
        {
            WebMail.SmtpServer = "smtp.example.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "mySmtpUsername";
            WebMail.Password = "mySmtpPassword";
            WebMail.From = "myemail@example.com";

            WebMail.Send("myemail@example.com", "RSVP Invitation",
                Model.Name + ((Model.WillAttend ?? false) ? " " : "no") + "come");
        }
        catch (Exception)
        {
            @:<b>Unfortunately, an error occurred while sending the letter</b>
        }
    }
    <div class="text-center">
        <h1>Thanks, @Model.Name!</h1>
        <div class="lead">
            @if (Model.WillAttend == true)
            {
                @:Great that you come, drinds are already in the refrigerator ;)
            }
            else
            {
                @:sorry you won’t come, but thanks for letting me know.
            }
        </div>
       
    </div>
</body>
</html>
