body {
}

.form-wrap {
    width: 680px;
    background: #ffd500;
    border-radius: 20px;    
}

.form-wrap *{transition: .10s linear}

.profile {
    width: 240px;
    float: left;
    text-align:center;
    padding: 30px;
    
}

form {
    background: white;
    float: left;
    width: calc(100%-240px);
    padding: 30px;
    border-radius: 20px 20px 20px 20px;
    color: #7b7b7b;    
    margin-left: 50px;
    margin-bottom: 50px;
}

.form-wrap, form div::after {
    content: "";
    display: table;
    clear: both;
}

form div {
    margin-bottom: 15px;
    position: relative;
}

input:focus {
    background: #eaeaea;
}


label, span {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 8px;

}

/*input[type="text"] {
    content: "/f222";
    font-family:Arial;
    font-weight:bold;
}*/

/*.male:before {
    content: "\f222";
    font-family: Arial;
    font-weight: bold;
}

.female:before {
    content: "\f221";
    font-family: Arial;
    font-weight: bold;
}

.radio label:hover input ~.radio-control,
.radio input:focus ~ .radio-control {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}

.radio input:checked ~ .radio-control {
    color: red;
}

.radio label {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    width: 50%;
    float: right;
    line-height: 40px;
}*/

/*.radio input {
    position: absolute;
    opacity: 0;
}*/

/*.radio control {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: #e6e6e6;
    border-radius: 50%;
    text-align: center;
}*/

select {
    width: 250px;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 10px;
    outline: 0;
    border: 0;
    background: #dcd0d0;
    font-size: 16px;
    border-radius: 10px;
}

select::-ms-expand {
    display: none;
}

.select-arrow {
    position: absolute;
    top: 38px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #dcd0d0 transparent transparent transparent;
}

button {
    padding: 10px 5px 10px 5px;
    border-width: 0;
    display: block;
    width: 450px;
    background: #ffd500;
    color: gray;
    font-size: 22px;
    outline: none;
    text-transform: uppercase;
}

.activity_div {
    display: inline-block;
}

#age {
    margin-left:10px;
}

#resultKalorie {
    width: 380px;
    float: left;
    text-align: center;
    margin-top:20px;
    padding: 10px;
    
    margin-bottom: 0;
    font-size: 22px;
}

@media (max-width: 600px) {
    .form-wrap {margin: 20px auto;
                max-width: 550px;
                width: 100%;}
    .profile, form {float: none;
                    width: 100%;}
    form {border-radius: 0 0 20px 20px;}
}